<form class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <div class="row">
        {% block group_form %}
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Name</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-tag fa-fw"></i></span>
                        <input type="text" class="form-control" name="name" autocomplete="off" value="{{pastry.name}}" placeholder="The name of pastry">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Origin</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-globe fa-fw"></i></span>
                        <input type="text" class="form-control" name="origin" autocomplete="off" value="{{pastry.origin}}" placeholder="The origin of pastry">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Description</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-tag fa-fw"></i></span>
                        <input type="text" class="form-control" name="description" autocomplete="off" value="{{pastry.description}}" placeholder="A description of pastry">
                    </div>
                </div>
            </div>

        {% endblock %}
    </div><br>
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{form.submit_text}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</form>

<script>
{% include "pages/partials/page.js.twig" %}
</script>
