{% extends "tables/table-paginated.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="{{table.sortlist}}">
        <thead>
            <tr>
                <th data-column-name="name" data-column-template="#pastry-table-column-name" data-priority="1">{{translate('PASTRIES.NAME')}} <i class="fa fa-sort"></i></th>
                <th data-column-name="origin" data-column-template="#pastry-table-column-origin" data-priority="1">{{translate('PASTRIES.ORIGIN')}} <i class="fa fa-sort"></i></th>
                <th data-column-name="description" data-column-template="#pastry-table-column-description" data-priority="1">{{translate('PASTRIES.DESCRIPTION')}} <i class="fa fa-sort"></i></th>
                <th data-column-name="actions" data-column-template="#pastry-table-column-actions" data-priority="1" data-sorter="false" data-filter="false">{{translate('ACTIONS')}} </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}

    {% verbatim %}
    <script id="pastry-table-column-name" type="text/x-handlebars-template">
        <td>
            {{row.name}}
        </td>
    </script>
    <script id="pastry-table-column-origin" type="text/x-handlebars-template">
        <td>
            {{row.origin}}
        </td>
    </script>
    <script id="pastry-table-column-description" type="text/x-handlebars-template">
        <td>
            {{row.description}}
        </td>
    </script>
    <script id="pastry-table-column-actions" type="text/x-handlebars-template">
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {% endverbatim %}{{translate("ACTIONS")}}{% verbatim %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li>
                        <a href="#" data-name="{{row.name}}" class="js-pastry-edit">
                        <i class="fa fa-edit"></i> {% endverbatim %}{{translate('PASTRIES.EDIT')}}{% verbatim %}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-name="{{row.name}}" class="js-pastry-delete">
                        <i class="fa fa-trash-o"></i> {% endverbatim %}{{translate('PASTRIES.DELETE')}}{% verbatim %}
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </script>
    {% endverbatim %}
{% endblock %}
